@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTS55F.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/PTS76F.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans - Narrow";
  src: url("../fonts/PTN57F.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans - Narrow Bold";
  src: url("../fonts/PTN77F.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans - Caption";
  src: url("../fonts/PTC55F.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans - Caption Bold";
  src: url("../fonts/PTC75F.ttf");
  font-weight: normal;
  font-style: normal;
}
